/* src/app/_styles/_components/AccordionItem.module.css */

.c-accordions__item {
  padding: 0;
  margin: 0;
  border: 1px solid var(--gray-600);
  overflow: hidden;
}

.c-accordions__item:first-of-type {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.c-accordions__item:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.c-accordions__item > h1,
.c-accordions__item > h2,
.c-accordions__item > h3,
.c-accordions__item > h4,
.c-accordions__item > h5,
.c-accordions__item > h6 {
  margin: 0;
}

.c-accordions__item__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 20px;
  color: inherit;
  transition: all 0.35s ease-in;
}

.c-accordions__item__button svg {
  width: 30px;
  transition: transform 0.35s ease-in;
  margin-left: 15px;
}

/* states */
.c-accordions__item__button.is-expanded {
  background: var(--btn-bg-color);
  color: var(--btn-color);
}

.c-accordions__item__button.is-expanded svg {
  transform: rotate(180deg);
}

.c-accordions__item__container {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.c-accordions__item__container--content {
  padding: 16px 20px;
}

.c-accordions__item__container--content *:first-child {
  margin: 0;
}
