/* src/app/_styles/_components/Hero.module.css */

.hoverDate:hover .hoverText {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease !important; /* Añadir una transición suave */
}

/* Estilos para el texto */
.hoverText {
  display: none;
  left: 0;
  top: 0;
  opacity: 0; /* Inicialmente establecer la opacidad en 0 */
}
